.root3
{
    min-height: 75vh   ;
    background-color: #312F2F;
    opacity: 1;
}
.con
{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5%;
    font-size: 250%;
    margin-left: 7%;
    /* margin: 2.5%; */
}
.text
{
    padding-top: 2.5%;
    margin-left: 5%;
    
}

.no
{
    font-family: sans-serif;
    list-style-type: none;
    font-size: 130%;
    margin-left: 4%;
    /* padding-bottom: 5%; */
}

.co{
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    background-color: #4C4E52;
    color: white;
    font-size: 20px;
  }